body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1c172e;
}
@font-face {
    font-family: BOTW;
    src: url('public/BOTW.otf');
    font-weight:400;
    font-weight:normal;
  }
canvas {
    display: block;
    margin: auto;
    margin-top: 5%;
    
}

/* #app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */